@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --mavi: #2096da;
}
h2 {
  font: 1.1em Quicksand, sans-serif;
  color: #bababa;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}
.container {
    max-width: 960px;
    margin: auto;
}
header {
    background: #1b1b1b;
    border-bottom: 5px solid var(--mavi);
}
header, header a { color: #fff; }
nav {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 'soci' 'logo' 'menu';
    grid-template-rows: 60px 50px 170px;
}
#logo   {  grid-area: logo; background: var(--mavi); display: flex; }
#logo img { margin: auto;}
#social {  grid-area: soci; text-align: right; color: #7c7c7c; padding: 5px }
#icons a {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: #2d2d2d;
    color: #7c7c7c; 
}
#icons a i {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}
#phone, #icons { display: inline-block; width: 100%; text-align: center;  }
#phone {
        font: .8em/1 Roboto; 
        padding: 0 0 10px 0; 
        margin: -10px 0 0 0;
}
#icons {
    padding: 0 10px;
}
#menu   {  grid-area: menu; }
#menu li { margin: 11px 0 0 25px; text-align: center; }
#menu li a {
        font: 1.1em Righteous, cursive;
        text-transform: uppercase;
        padding: 7px 10px
}
#menu li a:hover, .active { background: var(--mavi); }

main {
    background: #2b2b2b url('../img/mainbg.jpg');
    padding: 50px 0 120px 0;
}
main .container {
    display: grid;
    grid-template-areas: 'art2' 'art1' 'art3' 'art4' 'art5' 'art6' 'art7' 'art8' 'art9' 'art10' 'art11' 'art12' 'art14' 'art13' 'art15' 'art16';
    grid-template-rows:   50vh   50vh  100vh   50vh   50vh   50vh   50vh   50vh   50vh   50vh    100vh   50vh    50vh    50vh    50vh    50vh ;
    grid-row-gap: 1em;
}
main .container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
main .container div img:hover { opacity: 1; }

#art1 { grid-area: art1; }
#art2 { grid-area: art2; }
#art3 { grid-area: art3; }
#art4 { grid-area: art4; }
#art5 { grid-area: art5; }
#art6 { grid-area: art6; }
#art7 { grid-area: art7; }
#art8 { grid-area: art8; }
#art9 { grid-area: art9; }
#art10 { grid-area: art10; }
#art11 { grid-area: art11; }
#art12 { grid-area: art12; }
#art13 { grid-area: art13; }
#art14 { grid-area: art14; }
#art15 { grid-area: art15; }
#art16 { grid-area: art16; }

#arts1 { grid-area: arts1; }
#arts2 { grid-area: arts2; }
#arts3 { grid-area: arts3; }
#arts4 { grid-area: arts4; }
#arts5 { grid-area: arts5; }
#arts6 { grid-area: arts6; }

#footer1 {
    
    background: #1b1b1b;
    box-shadow: inset 0 3px 5px #000;
}
#footer1 .container {
    position: relative;
    padding: 30px 0 0 0;
}
#footer2 {
    background: var(--mavi);
}
#bigicons {
    position: absolute;
    top: -20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-between;
}
#bigicons a {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: rgba(45,45,45,.8);
}
#bigicons a i {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-size: 1.5em;
    color: #777;
}
#cols {
    display: flex;
	flex-direction: column;
	max-height: 1000px;
}
.aloo { padding-bottom: 50px; }
.alam {
	padding: 5px;
}
.yazilar {
	display: grid;
	align-content: space-between;
	grid-template-columns: auto 60% auto;
	font: 2em  Karantina, cursive;
	color: #777;
	font-style: italic;
	text-align: center;
}
.yazilar .vergul {	
	width: 50px;
    height: inherit;
	opacity: 1;
}
.duzxet { color: #2e2e2e }
//#cols section {
	display: inline-block;
	background: url('../img/uzunxett.png');
	height: 1px;
}
.kiciksekil {
	width: 80px;
	height: 80px;
	background: #272727;
	object-fit: cover;
}
#section1 {
	display: grid;
	grid-template-areas: 'arts1 arts2 arts3' 
						 'arts4 arts5 arts6';
    grid-template-rows:   15vh  15vh;
	margin-left: 20px;
}
#section2 {
		display: grid;
		grid-template-areas: 'divs1 divs3'
						     'divs2 divs4' ;
	}
	#divs1 { grid-area: divs1; }
	#divs2 { grid-area: divs2; }
	#divs3 { grid-area: divs3; }
    #divs4 { grid-area: divs4; }
#cols section p {
  font: 0.95em MuseoSans;
  color: #989898;
}
#divs3 { padding-left: 10px; }
#divs4 { padding-left: 10px; }
.ozelp {
	font: 0.75em MuseoSans;
    text-transform: uppercase;
}
.buttons {
	width: 275px;
	height: 35px;
	text-align: left;
	background: #272727;
	border: 1px solid #272727;
	color: #c3c2c2;
}
#buttons {
	width: 100px;
	height: 30px;
	text-align: center;
	background: #272727;
	border: 1px solid #272727;
	color: #c3c2c2;
	margin-left: 175px;
}
.alou { padding-bottom: 20px; }
#footer2 li {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding-right: 5px;
}
#sonpe {
	text-align: right;
}

@media only screen and (min-width: 768px) {
    nav {
        grid-template-columns: 130px auto;
        grid-template-rows: 55px 40px;
        grid-template-areas: 'logo soci'
                             'logo menu'
    }
    #phone, #icons { display: inline; text-align: right; }
    #menu {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: end;
    }
    main .container {
        display: grid;
        grid-template-areas: 'art1  art2  art3  art4'
                             'art5  art6  art3  art7'
                             'art8  art9  art10 art10'
                             'art11 art12 art13 art14'
                             'art11 art15 art16 art16';
        grid-template-rows:  220px 220px 220px 220px 220px ;
        grid-template-columns: 24% 24% 24% 24%;
        justify-content: space-between;
    }
    #footer1 .container { padding: 100px 0 0 0; min-height: 400px; }
    #bigicons { top: -50px; }
    #bigicons a {
        width: 100px;
        height: 100px;
    }
    #bigicons a i { font-size: 3.75em }
	#section1 {
	display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
	grid-template-areas: 'arts1 arts2 arts3'
						 'arts4 arts5 arts6';
	grid-template-rows: none;
	margin-left: 0;
}
    #cols {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
        justify-content: space-between;
    }
}


